<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVLQFJF19YTWbGP15XN7eD1d2nCMFYgiE</string>
	<key>GCM_SENDER_ID</key>
	<string>744628010568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pes.edu.rajyotsava.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rajyotsava-ee997</string>
	<key>STORAGE_BUCKET</key>
	<string>rajyotsava-ee997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744628010568:ios:675f1877bcca671f6b627d</string>
</dict>
</plist>